/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #314242;
    color: white;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1, h2 {
  text-align: center;
}

#outer img {
  z-index: -1;
  position: absolute;
}

.question input, textarea{
  width:100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;

  background-color: rgba(255,255,255,.75);
  color: #314242;
  border-radius: 5px;
  border-width: 0px;
}

/* Form styling for cascade */
#name {
  margin-left:30%;
  width: 70%;
}

#team {
  margin-left: 18%;
  width:82%;
}

#phone {
  margin-left: 10%;
  width:90%;
}

#q {
  margin-left: 4%;
  width:96%;
}

#submit {
  margin-left: 30%;
  width:50%;
}

/* End form styling */

#drop {
  width:500px;
  height:450px;
  padding-top: 50px;
  margin-left: -webkit-calc(50% - 250px);
}

#outer {
    width: 600px;
    margin: 0 auto;
}